﻿<div id="wrapper">
    <div class="container-fluid">
        <div class="page-content page-content-popup">
            <div class="slide-animate" ng-include="'angular_views/navbar.html'"></div>
            <div class="slide-animate" ng-include="'angular_views/sidebar.html'"></div>
            <div class="page-fixed-main-content">

                <!-- BEGIN PAGE BASE CONTENT -->
                <div class="container-fluid">

                    <h2 style="margin-left: 2%; font-weight: bold">Dodavanje novog vakufa na mapi</h2>
                    <div class="col-md-6">
                        <!--BEGIN PAGE BASE CONTENT-->
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" events="map.events">
                            <ui-gmap-markers models="lokacije" idKey="'id'" coords="'self'" icon="'icon'" click="onClick">
                                <ui-gmap-windows show="show">
                                    <div ng-non-bindable>
                                        <h4>{{naziv}}</h4>
                                        <i><a href="{{url}}">{{url}}</a></i>
                                        <p>{{opis}}</p>
                                    </div>
                                </ui-gmap-windows>
                            </ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>

                    <div class="col-md-6">
                        <form novalidate name="newForm" role="form">
                            <div class="form-group">
                                <label class="control-label">Naziv</label>
                                <input type="text" placeholder="Naziv" class="form-control" name="title" id="title" ng-model="newLocation.naziv" required ng-minlength="2" />
                                <div ng-messages="newForm.title.$error" ng-if="newForm.title.$touched">
                                    <div class="error-label" ng-message="required">Naziv je obavezno polje!</div>
                                    <div class="error-label" ng-message="minlength">Naziv mora sadržavati više od 2 slova!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Spoljni link na vakuf (URL)</label>
                                <input type="text" placeholder="http://www.wikipedia.com/vakuf" class="form-control" name="url-input" id="url-input" ng-model="newLocation.url" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Opis</label>
                                <textarea class="form-control" rows="5" placeholder="Opis..." ng-model="newLocation.opis" name="desc" id="desc"></textarea>
                            </div>
                            <div class="margin-top-10">
                                <a class="btn green" id="btnSubmit" ng-click="postLokacija()" ng-disabled="newForm.$invalid"> Završi </a>
                                <a class="btn default" ng-click="resetNewLocation()"> Odustani </a>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- END PAGE BASE CONTENT -->

            </div>

        </div>

        <!-- BEGIN FOOTER -->
        <div style="color: aliceblue">
            <p style="text-align: center">
                2017 &copy; HC Dev
            </p>
        </div>
        <!-- END FOOTER -->


    </div>
</div>
