﻿<div id="wrapper">
    <div class="container-fluid">
        <div class="page-content page-content-popup">
            <div class="slide-animate" ng-include="'angular_views/navbar.html'"></div>
            <div class="slide-animate" ng-include="'angular_views/sidebar.html'"></div>
            <div class="page-fixed-main-content">

                <!-- BEGIN PAGE BASE CONTENT -->
                <div class="container-fluid">


                    <div class="col-md-6" style="margin-bottom: 1%">
                        <h2 style="font-weight: bold">Upravljanje vakufima</h2>
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Traži..." ng-model="searchTerm">
                            <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="getAll()"><i class="fa fa-search"></i></button></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Naziv</th>
                                    <th>URL</th>
                                    <th>Opcije</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in lokacije | filter:searchTerm">
                                    <td>{{item.naziv}}</td>
                                    <td>{{item.url}}</td>
                                    <td>
                                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" ng-click="setSelected(item.vakufId)"><span class="icon icon-pencil" aria-hidden="true"></span></button>
                                        <button class="btn btn-danger btn-sm" ng-confirm-message="Da li si siguran da želiš obrisati?" ng-confirm-click="remove(item.vakufId)"><span class="icon icon-trash" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- END PAGE BASE CONTENT -->

            </div>

        </div>

        <!-- BEGIN FOOTER -->
        <div style="color: aliceblue">
            <p style="text-align: center">
                2017 &copy; HC Dev
            </p>
        </div>
        <!-- END FOOTER -->

    </div>
</div>


<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">&times;</button>
                <h4 class="modal-title">Postavke vakufa</h4>
            </div>
            <form novalidate name="newForm" role="form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="Naziv">Naziv: <span class="error-label">*</span></label>
                        <input id="Naziv" type="text" class="form-control" name="Naziv" ng-model="selected.naziv" required ng-minlength="2">
                        <div ng-messages="newForm.Naziv.$error" ng-if="newForm.Naziv.$touched">
                            <div class="error-label" ng-message="required">Naziv je obavezno polje!</div>
                            <div class="error-label" ng-message="minlength">Naziv mora sadržavati više od 2 slova!</div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="napomena">URL:</label>
                        <input id="url" type="text" class="form-control" name="Naziv" ng-model="selected.url">
                    </div>
                    <div class="form-group">
                        <label for="napomena">Opis:</label>
                        <textarea id="napomena" type="text" class="form-control" ng-model="selected.opis" rows="5" style="overflow: hidden; resize: vertical; max-height: 200px"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetForm()">Odustani</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="update(selected.vakufId, selected)" ng-disabled="newForm.$invalid">Uredi</button>
                </div>
            </form>
        </div>

    </div>
</div>