﻿
<div class="col-md-12" style="background-color:  #2f373e">
    <!--BEGIN PAGE BASE CONTENT-->
    <h2 style="text-align: center; font-weight: bold; color: aliceblue">MAPA VAKUFA - MOSTAR</h2>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-markers models="lokacije" idKey="'id'" coords="'self'" icon="'icon'" click="onClick">
            <ui-gmap-windows show="show">
                <div ng-non-bindable>
                    <h4>{{naziv}}</h4>
                    <i><a href="{{url}}">{{url}}</a></i>
                    <p>{{opis}}</p>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>

    <!-- BEGIN FOOTER -->
    <div style="color: aliceblue">
        <p style="text-align: center">
            2017 &copy; HC Dev
        </p>
    </div>
    <!-- END FOOTER -->
</div>

