﻿<div class="page-content-fixed-header" ng-controller="sidebarController">
    <!-- BEGIN BREADCRUMBS -->
    <ul class="page-breadcrumb">
        <li>
            <a href="/#/admin">MAPS DASHBOARD</a>
        </li>
    </ul>
    <!-- END BREADCRUMBS -->
    <div class="content-header-menu">
        <!-- BEGIN DROPDOWN AJAX MENU -->
        <div class="dropdown-ajax-menu btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
            </button>
            <ul class="dropdown-menu-v2">
                <li>
                    <a ng-click="logout()">Odjavi se</a>
                </li>
            </ul>
        </div>
        <!-- END DROPDOWN AJAX MENU -->
        <!-- BEGIN MENU TOGGLER -->
        <button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="toggle-icon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </span>
        </button>
        <!-- END MENU TOGGLER -->
    </div>
</div>