﻿<div class="page-sidebar-wrapper" ng-controller="sidebarController">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item" ng-class="getClass('/mapa')">
                <a href="/#/mapa" class="nav-link nav-toggle">
                    <i class="icon-map"></i>
                    <span class="title">Pregled mape</span>
                </a>
            </li>
         
            <li class="nav-item" ng-class="getClass('/admin')">
                <a href="/#/admin" class="nav-link nav-toggle">
                    <i class="icon-plus"></i>
                    <span class="title">Novi vakuf</span>
                </a>
            </li>
            
            <li class="nav-item" ng-class="getClass('/manage')">
                <a href="/#/manage" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">Upravljanje vakufima</span>
                </a>
            </li>
            
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>