﻿.error-label {
    color: #e00c0c;
    font-weight: 600;
}

.info-box, .panel-lekcije {
    background-color: #807e7e !important;
    /*padding: 10px;*/
    /*margin: 20px 0px;*/
    color: white !important;
    /*border-radius: 4px;*/
    border: 1px solid black;
}

/* START Scrollable table*/
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody, .alert-lekcije {
  height: 270px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
/* END Scrollable table*/

.table-fixed>tbody>tr>td, .table-fixed>tbody>tr>th, .table-fixed>tfoot>tr>td, .table-fixed>tfoot>tr>th, .table-fixed>thead>tr>td, .table-fixed>thead>tr>th{
  border: 0px;
}

.table-lekcije, .alert-lekcije {
    padding:20px;
}

.command-box {
    margin-top: 20px;
}

input[type="checkbox"], input[type="button"], button, select {
    cursor: pointer;
}

.overflow {
  	width: 25em;
    white-space: nowrap;
  	overflow: hidden;
}

.ellipsis { text-overflow: ellipsis; }

.gauge {
    width: 148px;
    height: 148px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.counter {
    text-align: center;
    padding: 50px;
    color: darkcyan;
    font-weight: bold;
}

.poruke-wrapper {
    margin: 20px 0px; 
    padding: 20px 0; 
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.conversation-item {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.chat-item{
    padding: 10px;
    margin-right: 10px;
}

.conversation-item:hover {
    color: dodgerblue;
    background-color: whitesmoke;
}

.chats-div {
    list-style-type: none;
    overflow: hidden;
    height: 400px;
    overflow-y: scroll;
}

.osoba-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.osoba-item:hover {
    background-color: #807e7e;
    color: white;   
}

/*.table-row:hover{
    background-color: #807e7e;
}*/