﻿<div type="text/ng-template">
    <div class="modal-body">
        <label>{{message}}</label>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default" ng-click="cancel()">Odustani</button>
        <button type="submit" class="btn btn-default" ng-click="continue()">Obriši</button>
    </div>
</div>