﻿<div class="row">
    <div class="col-md-6">
        <h2>Upravljanje edukatorima</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-5">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..." ng-model="searchTerm">
            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
        </div>
    </div>
    <div class="col-md-2 pull-right">
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Mekteb</button>
    </div>
</div>


<table class="table table-striped" ng-show="allItems.length > 1">
    <thead>
        <tr>
            <th>Ime i prezime</th>
            <!--<th>Mektebi</th>-->
            <th>Kontakt</th>
            <th>Adresa</th>
            <th>Email</th>
            <th>Datum rodjenja</th>
            <th>Opcija</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in allItems | filter:searchTerm">
            <td>{{item.osobas.ime + ' ' + item.osobas.prezime }}</td>
            <td><!--<span ng-repeat="mekteb in item.mektebs">{{$last? mekteb.naziv: mekteb.naziv + ', '}}</span>--></td>
            <td>{{item.osobas.kontakt}}</td>
            <td>{{item.osobas.adresa}}</td>
            <td>{{item.osobas.email}}</td>
            <td>{{item.osobas.datumRodjenja | date:'dd. MMMM yyyy'}}</td>
            <td>
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" ng-click="setSelected(item.id)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                <button class="btn btn-danger btn-sm" ng-confirm-message="Da li si siguran da želiš obrisati?" ng-confirm-click="remove(item.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal  Contract Type -->
<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">&times;</button>
                <h4 class="modal-title">Mekteb</h4>
            </div>
            <form novalidate name="newForm" role="form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="name">Naziv: <span class="error-label">*</span></label>
                        <input id="name" type="text" class="form-control" name="Naziv" ng-model="selected.naziv" required ng-minlength="2">
                        <div ng-messages="newForm.Naziv.$error" ng-if="newForm.Naziv.$touched">
                            <div class="error-label" ng-message="required">Naziv je obavezno polje!</div>
                            <div class="error-label" ng-message="minlength">Naziv mora sadržavati više od 2 slova!</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Lokacija: <span class="error-label">*</span></label>
                        <input id="name" type="text" class="form-control" name="Lokacija" ng-model="selected.lokacija" required>
                        <div ng-messages="newForm.Lokacija.$error" ng-if="newForm.Lokacija.$touched">
                            <div class="error-label" ng-message="required">Lokacija je obavezno polje!</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetForm()">Odustani</button>
                    <button type="submit" ng-if="!isEdit" class="btn btn-primary" data-dismiss="modal" ng-click="add(selected)" ng-disabled="newForm.$invalid">Dodaj</button>
                    <button type="submit" ng-if="isEdit" class="btn btn-primary" data-dismiss="modal" ng-click="update(selected.id, selected)" ng-disabled="newForm.$invalid">Uredi</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Spinner -->
<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>