﻿<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top:10%">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Unesite vaše korisničke podatke</h3>
                </div>
                <div class="panel-body">

                    <form role="form" name="formLogin">
                        <div ng-messages="formLogin.email.$error" ng-if="formLogin.email.$dirty">
                            <div class="alert alert-danger" ng-message="required">Email je obavezno polje!</div>
                        </div>
                        <div ng-messages="formLogin.password.$error" ng-if="formLogin.password.$dirty">
                            <div class="alert alert-danger small" ng-message="required">Password je obavezno polje!</div>
                        </div>
                        <fieldset>
                            <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>

                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="loginData.userName" autofocus required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="loginData.password" required>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Login</button>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 