﻿<!-- Navigation -->
<div ng-include="'views/navbarView.html'"></div>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Upravljanje kalendarskim aktivnostima</h2>
            </div>
        </div>
        <hr />
        <div class="row" ng-show="!isLoading">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="godine">Mektebska godina:</label>
                    <select class="form-control"
                            id="godine"
                            ng-model="selectedGodina"
                            ng-options="godina.naziv for godina in godine track by godina.id"
                            ng-change="getByGodina(selectedGodina.id)"></select>
                </div>
            </div>
            <div class="col-md-4">
                <label>Naziv:</label>
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Traži..." ng-model="searchTerm">
                    <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="getAll()"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-3">
                <br />
                <button class="btn btn-primary" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Aktivnost</button>
            </div>
        </div>
        <br />

        <table class="table table-striped" ng-show="allItems.length > 0 && !isLoading">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Datum</th>
                    <th>Opcija</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in allItems | filter:searchTerm">
                    <td>{{item.naziv}}</td>
                    <td>{{item.datum | date:'dd. MMMM yyyy'}}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalDetails" data-backdrop="static" data-keyboard="false" ng-click="setSelected(item.id)"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" ng-click="setSelected(item.id)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        <button class="btn btn-danger btn-sm" ng-confirm-message="Da li si siguran da želiš obrisati?" ng-confirm-click="remove(item.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="alert-lekcije" ng-show="allItems.length == 0 && !isLoading">
            <div class="alert alert-warning" role="alert">
                Izabrani mektebska godina nema dodanih aktivnosti!
            </div>
        </div>

        <!-- Loader -->
        <div style="margin:10% 40%" ng-show="isLoading">
            <img src="../images/loader.gif" />
        </div>

        <!-- Modal edit/add -->
        <div id="modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">&times;</button>
                        <h4 class="modal-title">Kalendarska aktivnost</h4>
                    </div>
                    <form novalidate name="newForm" role="form">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="Naziv">Naziv: <span class="error-label">*</span></label>
                                <input id="Naziv" type="text" class="form-control" name="Naziv" ng-model="selected.naziv" required ng-minlength="2">
                                <div ng-messages="newForm.Naziv.$error" ng-if="newForm.Naziv.$touched">
                                    <div class="error-label" ng-message="required">Naziv je obavezno polje!</div>
                                    <div class="error-label" ng-message="minlength">Naziv mora sadržavati više od 2 slova!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Datum: <span class="error-label">*</span></label>
                                <input id="name" type="datetime" data-provide="datepicker" data-date-format="dd. MM yyyy" class="form-control" name="Datum" ng-model="selected.datum" required>
                                <div ng-messages="newForm.Datum.$error" ng-if="newForm.Datum.$touched">
                                    <div class="error-label" ng-message="required">Datum je obavezno polje!</div>
                                    <div class="error-label" ng-message="date">Niste unijeli validan datum!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="god">Mektebska godina: <span class="error-label">*</span></label>
                                <select class="form-control"
                                        name="god"
                                        required
                                        ng-model="selected.skolskaGodinaId"
                                        ng-options="godina.naziv for godina in godine track by godina.id"></select>
                                <div ng-messages="newForm.god.$error" ng-if="newForm.god.$touched">
                                    <div class="error-label" ng-message="required">Mektebska godina je obavezno polje!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="napomena">Napomena:</label>
                                <textarea id="napomena" type="text" class="form-control" ng-model="selected.napomena" rows="5" style="overflow: hidden; resize: vertical; max-height: 200px"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetForm()">Odustani</button>
                            <button type="submit" ng-if="!isEdit" class="btn btn-primary" data-dismiss="modal" ng-click="add(selected)" ng-disabled="newForm.$invalid">Dodaj</button>
                            <button type="submit" ng-if="isEdit" class="btn btn-primary" data-dismiss="modal" ng-click="update(selected.id, selected)" ng-disabled="newForm.$invalid">Uredi</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Modal details -->
        <div id="modalDetails" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">&times;</button>
                        <h4 class="modal-title">Kalendarska aktivnost</h4>
                    </div>

                    <div class="modal-body">
                        <label for="NazivD">Naziv: </label>
                        <p id="NazivD">{{selected.naziv}}</p>

                        <label for="DatumD">Datum: </label>
                        <p id="DatumD">{{selected.datum}}</p>

                        <label for="godD">Mektebska godina: </label>
                        <p id="godD">{{selected.skolskaGodinaId.naziv}}</p>

                        <label for="napomenaD">Napomena: </label>
                        <p id="napomenaD">{{selected.napomena}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>