﻿<!-- Navigation -->
<div ng-include="'views/navbarView.html'"></div>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 counter">
                <!--BROJ UCENIKA NA MEDZLISU-->
                <h1 count-to="{{brojUcenika}}" value="0" duration="2"></h1>
                <h4>Broj učenika na medžlisu</h4>
            </div>

            <div class="col-md-4">
                <div class="gauge">
                    <!--PROSJEK NA MEDZLISU-->
                    <pie-chart data="gauge_data" options="gauge_options"></pie-chart>
                </div>
            </div>

            <div class="col-md-4 counter">
                <!--BROJ MEKTEBA NA MEDZLISU-->
                <h1 count-to="{{brojMekteba}}" value="0" duration="2"></h1>
                <h4>Broj mekteba na medžlisu</h4>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Broj učenika po mektebima</h4>
                <table class="table table-striped" ng-show="allItems.mektebiPoBrojuUcenika.length > 0 && !isLoading">
                    <thead>
                    <tr>
                        <th>Mekteb</th>
                        <th>Broj učenika</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in allItems.mektebiPoBrojuUcenika">
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                    </tbody>
                </table>
                <!-- Loader -->
                <div style="margin:10% 15%" ng-show="isLoading">
                    <img src="../images/loader.gif" />
                </div>
            </div>
            <div class="col-md-6">
                <h4>Prisustvo učenika po mektebima</h4>
                <table class="table table-striped" ng-show="allItems.mektebiPoPrisustvu.length > 0 && !isLoading">
                    <thead>
                    <tr>
                        <th>Mekteb</th>
                        <th>Prisustvo na nastavi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in allItems.mektebiPoPrisustvu">
                        <td>{{item.key}}</td>
                        <td>{{item.value}}%</td>
                    </tr>
                    </tbody>
                </table>
                <!-- Loader -->
                <div style="margin:10% 15%" ng-show="isLoading">
                    <img src="../images/loader.gif" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h4>Učenici sa najvećim prosjekom ocjena</h4>
                <table class="table table-striped" ng-show="allItems.uceniciPoProsjeku.length > 0 && !isLoading">
                    <thead>
                    <tr>
                        <th>Učenik</th>
                        <th>Prosjek ocjena</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in allItems.uceniciPoProsjeku">
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                    </tbody>
                </table>
                <!-- Loader -->
                <div style="margin:10% 15%" ng-show="isLoading">
                    <img src="../images/loader.gif" />
                </div>
            </div>
            <div class="col-md-6">
                <h4>Broj učenika po mektebskim godinama</h4>
                <table class="table table-striped" ng-show="allItems.skolskeGodinePoUcenicima.length > 0 && !isLoading">
                    <thead>
                    <tr>
                        <th>Mektebska godina</th>
                        <th>Učenici</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in allItems.skolskeGodinePoUcenicima">
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                    </tbody>
                </table>
                <!-- Loader -->
                <div style="margin:10% 15%" ng-show="isLoading">
                    <img src="../images/loader.gif" />
                </div>
            </div>
        </div>

    </div>
</div>