﻿<!-- Navigation -->
<div ng-include="'views/navbarView.html'"></div>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Upravljanje edukatorima</h2>
            </div>
        </div>
        <hr />
        <div class="row" ng-show="!isLoading">
            <div class="col-md-5">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchTerm">
                    <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
            <div class="col-md-2 pull-right">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" ng-click="newModal()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Edukator</button>
            </div>
        </div>

        <table class="table table-striped" ng-show="allItems.length > 0 && !isLoading">
            <thead>
                <tr>
                    <th>Ime i prezime</th>
                    <th>Kontakt</th>
                    <th>Adresa</th>
                    <th>Email</th>
                    <th>Datum rodjenja</th>
                    <th>Opcija</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in allItems | filter:searchTerm">
                    <td>{{item.osobas.ime + ' ' + item.osobas.prezime }}</td>
                    <td>{{item.osobas.kontakt}}</td>
                    <td>{{item.osobas.adresa}}</td>
                    <td>{{item.osobas.email}}</td>
                    <td>{{item.osobas.datumRodjenja | date:'dd. MMMM yyyy'}}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" ng-click="setSelected(item.id)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        <button class="btn btn-danger btn-sm" ng-confirm-message="Da li si siguran da želiš obrisati?" ng-confirm-click="remove(item.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="alert-lekcije" ng-show="allItems.length == 0 && !isLoading">
            <div class="alert alert-warning" role="alert">
                Nema edukatora!
            </div>
        </div>

        <!-- Loader -->
        <div style="margin:10% 40%" ng-show="isLoading">
            <img src="../images/loader.gif" />
        </div>

        <!-- Modal edit/add -->
        <div id="modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">&times;</button>
                        <h4 class="modal-title">Edukator</h4>
                    </div>
                    <form novalidate name="newForm" role="form">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="name">Ime: <span class="error-label">*</span></label>
                                <input id="name" type="text" class="form-control" name="Ime" ng-model="selected.ime" required ng-minlength="2">
                                <div ng-messages="newForm.Ime.$error" ng-if="newForm.Ime.$touched">
                                    <div class="error-label" ng-message="required">Ime je obavezno polje!</div>
                                    <div class="error-label" ng-message="minlength">Ime mora sadržavati više od 2 slova!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="prezime">Prezime: <span class="error-label">*</span></label>
                                <input id="prezime" type="text" class="form-control" name="Prezime" ng-model="selected.prezime" required ng-minlength="2">
                                <div ng-messages="newForm.Prezime.$error" ng-if="newForm.Prezime.$touched">
                                    <div class="error-label" ng-message="required">Prezime je obavezno polje!</div>
                                    <div class="error-label" ng-message="minlength">Prezime mora sadržavati više od 2 slova!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Korisničko ime: <span class="error-label">*</span></label>
                                <input id="name" type="text" class="form-control" name="KorisnickoIme" ng-model="selected.korisnickoIme" required ng-minlength="2">
                                <div ng-messages="newForm.KorisnickoIme.$error" ng-if="newForm.KorisnickoIme.$touched">
                                    <div class="error-label" ng-message="required">Korisničko ime je obavezno polje!</div>
                                    <div class="error-label" ng-message="minlength">Korisničko ime mora sadržavati više od 2 slova!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Kontakt: <span class="error-label">*</span></label>
                                <input id="name" type="text" class="form-control" name="Kontakt" ng-model="selected.kontakt" required>
                                <div ng-messages="newForm.Kontakt.$error" ng-if="newForm.Kontakt.$touched">
                                    <div class="error-label" ng-message="required">Kontakt je obavezno polje!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Adresa: <span class="error-label">*</span></label>
                                <input id="name" type="text" class="form-control" name="Adresa" ng-model="selected.adresa" required>
                                <div ng-messages="newForm.Adresa.$error" ng-if="newForm.Adresa.$touched">
                                    <div class="error-label" ng-message="required">Adresa je obavezno polje!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Email: <span class="error-label">*</span></label>
                                <input id="name" type="email" class="form-control" name="Email" ng-model="selected.email" required>
                                <div ng-messages="newForm.Email.$error" ng-if="newForm.Email.$touched">
                                    <div class="error-label" ng-message="required">Email je obavezno polje!</div>
                                    <div class="error-label" ng-message="email">Niste unijeli validnu Email adresu!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Datum rođenja: <span class="error-label">*</span></label>
                                <input id="name" type="datetime" data-provide="datepicker" data-date-format="dd. MM yyyy" class="form-control" name="Datum" ng-model="selected.datumRodjenja" required>
                                <div ng-messages="newForm.Datum.$error" ng-if="newForm.Datum.$touched">
                                    <div class="error-label" ng-message="required">Datum je obavezno polje!</div>
                                    <div class="error-label" ng-message="date">Niste unijeli validan datum!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Mekteb:</label>
                                <select class="form-control"
                                        name="mekteb"
                                        ng-model="selected.mektebId"
                                        ng-options="mekteb.naziv for mekteb in mektebi track by mekteb.id">
                                    <option value="" disabled>Izaberi mekteb</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetForm()">Odustani</button>
                            <button type="submit" ng-if="!isEdit" class="btn btn-primary" data-dismiss="modal" ng-click="add(selected)" ng-disabled="newForm.$invalid">Dodaj</button>
                            <button type="submit" ng-if="isEdit" class="btn btn-primary" data-dismiss="modal" ng-click="update(selected.edukatorId, selected)" ng-disabled="newForm.$invalid">Uredi</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>