﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mekteb - Home</title>
    <link rel="stylesheet" href="/styles/bootstrap-homepage/bootstrap.min.css" >
    <link rel="stylesheet" href="/Content/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/ionicons.min.css">
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="stylesheet" href="/styles/Features-Clean.css">
    <link rel="stylesheet" href="/styles/Footer-Dark.css">
    <link rel="stylesheet" href="/styles/Highlight-Clean.css">
</head>
<body>
    <nav class="navbar navbar-default" id="home">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#" target="_parent" onclick="scroll('home');">MEKTEB <small class="text-muted">moduli za učenike i administraciju</small></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="#" onclick="scroll('home');">Početna </a></li>
                    <li role="presentation"><a href="#abtMekteb" onclick="scroll('abtMekteb');">O mektebu</a></li>
                    <li role="presentation"><a href="#stats" onclick="scroll('stats');">Statistike</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-9 col-md-pull-3 get-it">
                    <h1>Dobrodoši na eMekteb</h1>
                    <p>eMekteb je platforma namjenjena muallimima i polaznicima mekteba kako bi pratili svoj rad.</p>
                    <p>
                        <a class="btn btn-primary btn-lg" role="button" href="http://localhost:51213/#/" target="_blank">Kviz znanja</a>
                        <a class="btn btn-primary btn-lg" role="button" href="http://localhost:55241/#/" target="_blank">Mapa vakufa</a>
                        <a class="btn btn-primary btn-lg" role="button" href="http://localhost:60793/#/login" target="_blank">Učenički modul</a>
                        <a class="btn btn-success btn-lg" role="button" href="/#/administracijalogin" target="_blank">Administracijski modul</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-uppercase text-center" id="abtMekteb">O mektebu</h2>
        <blockquote>
            <p>Mekteb je početna i temeljna odgojno-obrazovna ustanova na nivou džemata u okviru Islamske zajednice u Bosni i Hercegovini. Kroz mektebe se odvija redovna mektebska nastava - institucionalno organizovani islamski odgoj i obrazovanje. </p>
            <footer>www.vjeroucitelji.ba </footer>
        </blockquote>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>eMekteb moduli</h1>
                    <p>eMekteb aplikacija se sastoji iz tri glavna modula. i to od modula za : edukatore, učenike i administraciju mekteba. U fazi razvijanja su i dodatni moduli. </p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature">
                            <i class="glyphicon glyphicon-book"></i>
                            <p>Edukator modul</p>
                        </div>
                        <div class="col-xs-4 icon-feature">
                            <i class="glyphicon glyphicon-user"></i>
                            <p>Učenički modul</p>
                        </div>
                        <div class="col-xs-4 icon-feature">
                            <i class="glyphicon glyphicon-print"></i>
                            <p>Administracijski modul</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials">
        <h2 class="text-uppercase text-center" id="stats">STATISTIKE SISTEMA</h2>
    </section>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="text-center"> <i class="fa fa-graduation-cap"></i></h3>
                    <h1 class="text-center">{{data.brojPolaznika}} učenika</h1>
                    <hr>
                    <header></header>
                </div>
                <div class="col-md-3">
                    <h3 class="text-center"> <i class="fa fa-users"></i></h3>
                    <h1 class="text-center">{{data.brojEdukatora}} edukatora</h1>
                    <hr>
                    <header></header>
                </div>
                <div class="col-md-3">
                    <h3 class="text-center"> <i class="fa fa-home"></i></h3>
                    <h1 class="text-center">{{data.brojMekteba}} mekteba</h1>
                    <hr>
                </div>
                <div class="col-md-3">
                    <h3 class="text-center"> <i class="icon ion-earth"></i></h3>
                    <h1 class="text-center">{{data.brojMedzlisa}} medžlisa</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 item text">
                        <h2>Mektebi </h2>
                        <p ng-repeat="mekteb in data.mektebi">{{mekteb}}</p>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h2>Muftijstva</h2>
                        <ul>
                            <li ng-repeat="muftijstvo in data.muftijstva"><a href="#">{{muftijstvo}}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h2>Medžlisi </h2>
                        <ul>
                            <li ng-repeat="medzlis in data.medzlisi"><a href="#">{{medzlis}}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-4 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright"> HT Dev © 2016</p>
            </div>
        </footer>
    </div>
    <script src="/library/jquery-2.2.0.min.js"></script>
    <script src="/library/bootstrap.min.js"></script>
</body>
</html>

<script>
    var scroll = function (id) {
        $('html, body').animate({
            scrollTop: $("#" + id).offset().top
        }, 1000);
    };

    $("li>a, div>a").click(function (event) {
        event.preventDefault();
    });
</script>