﻿<!-- Navigation -->
<div ng-include="'views/navbarView.html'"></div>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Upravljanje lekcijama</h2>
            </div>
        </div>
        <hr />
        <div class="row" ng-show="!isLoading">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="#Razred">Prikaži lekcije za razred:</label>
                    <select class="form-control"
                            id="Razred"
                            ng-model="selectedRazred"
                            ng-options="razred for razred in razredi"
                            ng-change="getAll(selectedRazred)"></select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="#Razred">Pretraga po nazivu:</label>
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..." ng-model="searchTerm">
                        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 pull-right">
                </br>
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Lekcija</button>
            </div>
        </div>
        <br />

        <table class="table table-striped" ng-show="allItems.length > 0 && !isLoading">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th>Redni broj</th>
                    <th>Opcije</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in allItems | filter:searchTerm">
                    <td>{{item.naziv}}</td>
                    <td><div class="overflow ellipsis">{{item.opis}}</div></td>
                    <td>{{item.redniBroj}}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modalDetails" data-backdrop="static" data-keyboard="false" ng-click="setSelected(item.id)"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" ng-click="setSelected(item.id)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        <button class="btn btn-danger btn-sm" ng-confirm-message="Da li si siguran da želiš obrisati?" ng-confirm-click="remove(item.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="alert-lekcije" ng-show="allItems.length == 0 && !isLoading">
            <div class="alert alert-warning" role="alert">
                Nema dodanih lekcija za izabrani razred!
            </div>
        </div>

        <!-- Loader -->
        <div style="margin:10% 40%" ng-show="isLoading">
            <img src="../images/loader.gif" />
        </div>

        <!-- Modal edit/add -->
        <div id="modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">&times;</button>
                        <h4 class="modal-title">Lekcija</h4>
                    </div>
                    <form novalidate name="newForm" role="form">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="name">Naziv: <span class="error-label">*</span></label>
                                <input id="name" type="text" class="form-control" name="Naziv" ng-model="selected.naziv" required ng-minlength="2">
                                <div ng-messages="newForm.Naziv.$error" ng-if="newForm.Naziv.$touched">
                                    <div class="error-label" ng-message="required">Naziv je obavezno polje!</div>
                                    <div class="error-label" ng-message="minlength">Naziv mora sadržavati više od 2 slova!</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="#Razred">Razred: <span class="error-label">*</span></label>
                                <select class="form-control"
                                        id="Razred"
                                        name="Razred"
                                        ng-model="selected.razred"
                                        ng-options="razred for razred in razredi" required></select>
                                <div ng-messages="newForm.Razred.$error" ng-if="newForm.Razred.$touched">
                                    <div class="error-label" ng-message="required">Razred je obavezno polje!</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="opis">Opis: </label>
                                <textarea id="opis" type="text" class="form-control" ng-model="selected.opis" rows="5" style="overflow: hidden; resize: vertical; max-height: 200px" required></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetForm()">Odustani</button>
                            <button type="submit" ng-if="!isEdit" class="btn btn-primary" data-dismiss="modal" ng-click="add(selected)" ng-disabled="newForm.$invalid">Dodaj</button>
                            <button type="submit" ng-if="isEdit" class="btn btn-primary" data-dismiss="modal" ng-click="update(selected.id, selected)" ng-disabled="newForm.$invalid">Uredi</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <!-- Modal details -->
        <div id="modalDetails" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">&times;</button>
                        <h4 class="modal-title">Detalji lekcije</h4>
                    </div>

                    <div class="modal-body">
                        <label for="NazivD">Naziv: </label>
                        <p id="NazivD">{{selected.naziv}}</p>

                        <label for="DatumD">Razred: </label>
                        <p id="DatumD">{{selected.razred}}</p>

                        <label for="godD">Redni broj: </label>
                        <p id="godD">{{selected.redniBroj}}</p>

                        <label for="napomenaD">Opis: </label>
                        <p id="napomenaD">{{selected.opis}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>