﻿<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top:10%">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Unesite vaše korisničke podatke</h3>
                </div>
                <div class="panel-body">

                    <div style="margin:10% 30%" ng-show="isLoading">
                        <img src="../images/loader.gif" />
                    </div>

                    <div ng-show="!isLoading">
                        <form novalidate role="form" name="formLogin">
                            <div ng-messages="formLogin.email.$error" ng-if="formLogin.email.$dirty">
                                <div class="alert alert-danger small" ng-message="required">Email je obavezno polje!</div>
                            </div>
                            <div ng-messages="formLogin.password.$error" ng-if="formLogin.password.$dirty">
                                <div class="alert alert-danger small" ng-message="required">Password je obavezno polje!</div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="email" autofocus required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="password" required>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" ng-click="login(email, password)">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

