﻿<!-- Navigation -->
<div ng-include="'views/navbarView.html'"></div>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row" style="margin-top:20px">
            <div class="panel panel-default">
                <div class="panel-heading panel-lekcije col-md-12">
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <p id="Naziv"><h1>{{nastavniPlan.naziv}}</h1></p>
                    </div>
                    <div class="col-md-8">
                        <label for="Opis">Opis: </label>
                        <p id="Opis">{{nastavniPlan.opis}}</p>
                    </div>
                    <div class="col-md-4">
                        <label for="counter">Broj lekcija: </label>
                        <p id="counter">{{allItems.length}}</p>
                    </div>
                    <div class="col-md-8 command-box">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Pretraga lekcija..." ng-model="searchTerm">
                            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                        </div>
                    </div>
                    <div class="col-md-4 command-box">
                        <div class="pull-right">
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" ng-click="setSelected()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj lekcije u plan</button>
                            <button class="btn btn-danger btn-sm" ng-disabled="selectedItems.length == 0" ng-confirm-message="Da li si siguran da želiš ukloniti iz liste?" ng-confirm-click="remove()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Ukloni lekcije iz plana</button>
                        </div>
                    </div>
                </div>
                <table class="table table-fixed" ng-show="allItems.length > 0 && !isLoading">
                    <tbody class="table-lekcije">
                        <tr ng-repeat="item in allItems | filter:searchTerm">
                            <td class="col-md-3"><input type="checkbox" ng-click="manageItems(item)" /> {{item.naziv}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert-lekcije" ng-show="allItems.length == 0 && !isLoading">
                    <div class="alert alert-warning" role="alert">
                        Izabrani nastavni plan nema dodanih lekcija!
                    </div>
                </div>
            </div>
        </div>

        <!-- Loader -->
        <div style="margin:10% 40%" ng-show="isLoading">
            <img src="../images/loader.gif" />
        </div>

        <!-- Modal add|edit -->
        <div id="modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">&times;</button>
                        <h4 class="modal-title">Dodavanje novih lekcija u nastavni plan</h4>
                    </div>

                    <form novalidate name="newForm" role="form">
                        <div class="modal-body">
                            <!--region FILTERS-->
                            <!-- filter by razred -->
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="#Razred">Prikaži lekcije za razred:</label>
                                        <select class="form-control input-sm"
                                                id="Razred"
                                                ng-model="selectedRazred"
                                                ng-options="razred for razred in razredi"
                                                ng-change="getLekcijeByRazredByPlan(selectedRazred)"></select>
                                    </div>
                                </div>
                                <!-- filter by naziv -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Pretraga lekcija:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="Pretraga..." ng-model="searchLekcija">
                                            <span class="input-group-btn"><button class="btn btn-default input-sm" type="button"><i class="fa fa-search"></i></button></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Data -->
                            <table class="table table-fixed" ng-show="lekcije.length > 0 && !isLoading2">
                                <tbody class="table-lekcije">
                                    <tr ng-repeat="lekcija in lekcije | filter:searchLekcija">
                                        <td class="col-md-6"><input type="checkbox" ng-click="manageItems(lekcija)" /> {{lekcija.naziv}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="alert-lekcije" ng-show="lekcije.length == 0 && !isLoading2">
                                <div class="alert alert-warning" role="alert">
                                    Nema lekcija!
                                </div>
                            </div>
                            <div style="margin:10% 40%" ng-show="isLoading2">
                                <img src="../images/loader.gif" />
                            </div>

                            <div class="col-md-12"><p>Broj označenih lekcija: {{selectedItems.length}}</p></div>
                            <br />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetForm()">Odustani</button>
                            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="addLekcijeToPlan()" ng-disabled="newForm.$invalid">Dodaj</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>