﻿<!-- Navigation -->
<div ng-include="'views/navbarView.html'"></div>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Upravljanje mektebskim godinama</h2>
            </div>
        </div>
        <hr />
        <div class="row" ng-show="!isLoading">
            <div class="col-md-5">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchTerm">
                    <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
            <div class="col-md-2 pull-right">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Mektebska godina</button>
            </div>
        </div>
        <br />

        <table class="table table-striped" ng-show="allItems.length > 0 && !isLoading">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Oznaka</th>
                    <th>Početak</th>
                    <th>Kraj</th>
                    <th>Opcije</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in allItems | filter:searchTerm">
                    <td>{{item.naziv}}</td>
                    <td>{{item.oznaka}}</td>
                    <td>{{item.pocinje | date:'dd. MMMM yyyy'}}</td>
                    <td>{{item.zavrsava | date:'dd. MMMM yyyy'}}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" ng-click="setSelected(item.id)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                        <button class="btn btn-danger btn-sm" ng-confirm-message="Da li si siguran da želiš obrisati?" ng-confirm-click="remove(item.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="alert-lekcije" ng-show="allItems.length == 0 && !isLoading">
            <div class="alert alert-warning" role="alert">
                Nema mektebskih godina!
            </div>
        </div>

        <!-- Loader -->
        <div style="margin:10% 40%" ng-show="isLoading">
            <img src="../images/loader.gif" />
        </div>

        <!-- Modal  Contract Type -->
        <div id="modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" ng-click="resetForm()">&times;</button>
                        <h4 class="modal-title">Mekteb</h4>
                    </div>
                    <form novalidate name="newForm" role="form">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="name">Naziv: <span class="error-label">*</span></label>
                                <input id="name" type="text" class="form-control" name="Naziv" ng-model="selected.naziv" required ng-minlength="2">
                                <div ng-messages="newForm.Naziv.$error" ng-if="newForm.Naziv.$touched">
                                    <div class="error-label" ng-message="required">Naziv je obavezno polje!</div>
                                    <div class="error-label" ng-message="minlength">Naziv mora sadržavati više od 2 slova!</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Oznaka">Oznaka: <span class="error-label">*</span></label>
                                <input id="Oznaka" type="text" class="form-control" name="Oznaka" ng-model="selected.oznaka" required>
                                <div ng-messages="newForm.Oznaka.$error" ng-if="newForm.Oznaka.$touched">
                                    <div class="error-label" ng-message="required">Oznaka je obavezno polje!</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pocetak">Početak mektebske godine: <span class="error-label">*</span></label>
                                <input id="pocetak" type="datetime" data-provide="datepicker" data-date-format="dd. MM yyyy" class="form-control" name="pocetak" ng-model="selected.pocinje" required>
                                <div ng-messages="newForm.pocetak.$error" ng-if="newForm.pocetak.$touched">
                                    <div class="error-label" ng-message="required">Početak mektebske godine je obavezno polje!</div>
                                    <div class="error-label" ng-message="date">Niste unijeli validan datum!</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="zavrsava">Kraj mektebske godine: <span class="error-label">*</span></label>
                                <input id="zavrsava" type="datetime" data-provide="datepicker" data-date-format="dd. MM yyyy" class="form-control" name="zavrsava" ng-model="selected.zavrsava" required>
                                <div ng-messages="newForm.zavrsava.$error" ng-if="newForm.zavrsava.$touched">
                                    <div class="error-label" ng-message="required">Kraj mektebske godine je obavezno polje!</div>
                                    <div class="error-label" ng-message="date">Niste unijeli validan datum!</div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetForm()">Odustani</button>
                            <button type="submit" ng-if="!isEdit" class="btn btn-primary" data-dismiss="modal" ng-click="add(selected)" ng-disabled="newForm.$invalid">Dodaj</button>
                            <button type="submit" ng-if="isEdit" class="btn btn-primary" data-dismiss="modal" ng-click="update(selected.id, selected)" ng-disabled="newForm.$invalid">Uredi</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>