﻿<div ng-controller="navbarController">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/home">e-Mekteb | Management System</a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    {{name}} &nbsp; <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/#/profile"><i class="fa fa-user fa-fw"></i> Profil</a> </li>
                    <li class="divider"></li>
                    <li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Odjavi se</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages" style="padding: 5px 0 0 0">
                    <li ng-repeat="item in conversations">
                        <div ng-click="openMessenger(item.primaocId, item.posiljaocId)" style="cursor: pointer; padding: 15px">
                            <div>
                                <strong>{{item.imePrezime}}</strong>
                                <span class="pull-right text-muted" style="font-size: 12px; padding-top: 2px">
                                    <em>{{item.datum | date:'MMM d, y h:mm:ss'}}</em>
                                </span>
                            </div>
                            <div>{{item.poruka}}</div>
                        </div>
                        <p class="divider"></p> 
                    </li>
                    <li style="background-color: whitesmoke; height: 50px">
                        <div ng-click="openMessenger()" style="cursor: pointer">
                            <div style="text-align: center; padding-top: 5px">
                                <h4 style="color: dodgerblue"><span class="fa fa-paper-plane"></span> <strong>Messenger</strong></h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search"></li>
                    <li><a href="/#/dashboard"><i ng-class="getClass('/dashboard')" class="fa fa-fw"></i> Početna</a></li>
                    <li><a href="/#/mektebi"><i ng-class="getClass('/mektebi')" class="fa fa-fw"></i> Mektebi</a></li>
                    <li><a href="/#/edukatori"><i ng-class="getClass('/edukatori')" class="fa fa-fw"></i> Edukatori</a></li>
                    <li><a href="/#/aktivnosti"><i ng-class="getClass('/aktivnosti')" class="fa fa-fw"></i> Aktivnosti</a></li>
                    <li><a href="/#/mektebskegodine"><i ng-class="getClass('/mektebskegodine')" class="fa fa-fw"></i> Mektebske godine</a></li>
                    <li><a href="/#/nastavniplan"><i ng-class="getClass('/nastavniplan')" class="fa fa-fw"></i> Nastavni planovi</a></li>
                    <li><a href="/#/lekcije"><i ng-class="getClass('/lekcije')" class="fa fa-fw"></i> Lekcije</a></li>
                    <li><a href="/#/poruke"><i ng-class="getClass('/poruke')" class="fa fa-fw"></i> Messenger</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>