﻿<!-- Navigation -->
<div ng-include="'views/navbarView.html'"></div>


<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">

        <h2 style="color: dodgerblue;"><span class="fa fa-paper-plane"></span> <strong> Messenger</strong></h2>

        <div class="col-md-12 poruke-wrapper">

            <!-- LEFT CONVERSATIONS PANEL -->
            <div class="col-md-5">
                <h3 style="color: dodgerblue; padding-left: 40px"><span class="fa fa-inbox"></span> <strong> Konverzacije</strong></h3>
                <ul class="chats-div">
                    <li class="conversation-item" style="background-color: whitesmoke;">
                        <div>
                            <h4 style="color: dodgerblue; padding-left: 40px" data-toggle="modal" data-target="#modal" data-backdrop="static" data-keyboard="false" ng-click="getModalData()"><span class="fa fa-plus"></span> <strong>Nova konverzacija </strong></h4>
                        </div>
                    </li>
                    <li class="conversation-item" ng-repeat="item in conversations" ng-show="conversations != null || conversations != undefined">
                        <div ng-click="openChat(item.primaocId, item.posiljaocId)">
                            <div>
                                <strong>{{item.imePrezime}}</strong>
                                <span class="pull-right text-muted" style="font-size: 10px; padding-top: 2px">
                                    <em>{{item.datum | date:'MMM d, y h:mm'}}</em>
                                </span>
                            </div>
                            <div>{{item.poruka}}</div>
                        </div>
                        <p class="divider"></p>
                    </li>
                </ul>
                <div class="alert alert-warning" role="alert" ng-show="conversations == null || conversations == undefined">
                    Trenutno nema konverzacija!
                </div>
            </div> <!--end of left panel-->
            <!--RIGHT MESSAGES PANEL-->
            <div class="col-md-7">
                <h3 style="color: dodgerblue; padding-left: 40px"><span class="fa fa-commenting-o"></span> <strong>Chat </strong></h3>
                <ul class="chats-div" ng-if="messages != undefined || newMessage != undefined">
                    <li class="chat-item" ng-repeat="item in messages">
                        <div>
                            <div>
                                <span class="text-muted" style="font-size: 13px; padding-top: 2px">{{item.posiljaoc}}</span>
                                <span class="pull-right text-muted" style="font-size: 10px; padding-top: 2px">
                                    <em>{{item.datum | date:'MMM d, y h:mm:ss'}}</em>
                                </span>
                            </div>
                        </div>
                        <div>{{item.poruka}}</div>
                    </li>
                </ul>

                <form novalidate name="newForm" role="form" ng-if="messages != undefined || newMessage != undefined">
                    <div class="input-group" style="padding-left: 40px">
                        <input type="text" class="form-control" placeholder="Nova poruka ..." ng-model="poruka.sadrzaj" required>
                        <span class="input-group-btn">
                            <button class="btn" type="button" ng-disabled="newForm.$invalid" ng-click="sendMessage(poruka.sadrzaj)"><span class="fa fa-paper-plane"></span></button>
                        </span>
                    </div>
                </form>

                <div class="alert alert-info" role="alert" ng-show="(messages === null || messages === undefined) && newMessage == undefined">
                    Trenutno nema poruka!
                </div>

            </div> <!--end of right panel-->
        </div> <!--end of wrapper-->
    </div>
</div>



<!-- Modal -->
<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Izaberi osobu</h4>
            </div>
            <div class="modal-body" style="height: 500px">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchTerm">
                    <span class="input-group-btn"><button class="btn btn-default" type="button" disabled><i class="fa fa-search"></i></button></span>
                </div>
                <ul class="chats-div" style="padding: 10px; margin-top: 10px">
                    <li ng-repeat="item in osobe | filter:searchTerm">
                        <div class="col-md-6 osoba-item" ng-click="createNewChat(item.id)" data-dismiss="modal">
                            <span class="fa fa-commenting-o"></span> {{item.imePrezime}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
