﻿<!-- Navigation -->
<div ng-include="'views/navbarView.html'"></div>

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>{{user.ime + ' ' + user.prezime }} <small>({{user.korisnickoIme}})</small></h1>
                <table>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td class="col-md-1" style="color:#808080"><small>Adresa</small></td>
                                <td class="col-md-2">{{user.adresa}}</td>
                            </tr>
                            <tr>
                                <td class="col-md-1" style="color:#808080"><small>Telefon</small></td>
                                <td class="col-md-2">{{user.kontakt}}</td>
                            </tr>
                            <tr>
                                <td class="col-md-1" style="color:#808080"><small>Email</small></td>
                                <td class="col-md-2">{{user.email}}</td>
                            </tr>
                            <tr>
                                <td class="col-md-1" style="color:#808080"><small>Datum</small></td>
                                <td class="col-md-2">{{user.datumRodjenja | date:'dd. MMMM yyyy'}}</td>
                            </tr>   
                        </tbody>
                    </table>
                </table>
            </div>
        </div>
    </div>
</div>
