﻿
<style>
    .error-label {
        color: #b22222;
    }
</style>

<div id="wrapper">
    <div class="container-fluid">
        <div class="page-content page-content-popup">
            <div class="slide-animate" ng-include="'angular_views/navbar.html'"></div>
            <div class="slide-animate" ng-include="'angular_views/sidebar.html'"></div>
            <div class="page-fixed-main-content">
                <!-- BEGIN PAGE BASE CONTENT -->
                <div class="profile">
                    <div class="tabbable-line tabbable-full-width">
                        <ul class="nav nav-tabs">
                            <li ng-click="$event.preventDefault();" ng-class="setActiveTab('tab1', 'profil')">
                                <a href="#tab_1_1" data-toggle="tab"> Profil </a>
                            </li>
                            <li ng-click="$event.preventDefault();" ng-class="setActiveTab('tab2', 'profil')">
                                <a href="#tab_1_3" data-toggle="tab"> Uredi profil </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="list-unstyled profile-nav">
                                            <li>
                                                <img ng-show="!isLoading" src="{{ucenik.imageURL? ucenik.imageURL: 'http://www.redhotchilibots.com/wp-includes/images/photo-placeholder.jpg'}}" class="img-responsive pic-bordered" alt="" />
                                            </li>
                                            <li style="margin:10% 20%" ng-show="isLoading">
                                                <img src="../images/balls.gif" />
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-8 profile-info">
                                                <h1 class="font-green sbold uppercase">{{ucenik.ime + ' (' + ucenik.imeRoditelja +') ' + ucenik.prezime}}</h1>
                                                <p> {{ucenik.opis? ucenik.opis: mockedOpis}} </p>
                                                <ul class="list-inline">
                                                    <li>
                                                        <i class="fa fa-map-marker"></i> {{ucenik.adresa}}
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> {{ucenik.datumRodjenja | date:'longDate'}}
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-briefcase"></i> {{ucenik.razred}}
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star"></i> {{ucenik.prosjekOcjena | number:'2'}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--end col-md-8-->
                                            <div class="col-md-4">
                                                <div class="portlet sale-summary">
                                                    <div class="portlet-title">
                                                        <div class="caption font-red sbold"> Statistika </div>
                                                        <div class="tools">
                                                            <a class="reload" href="javascript:;"> </a>
                                                        </div>
                                                    </div>
                                                    <li style="margin:10% 20%" ng-show="isLoading">
                                                        <img src="../images/balls.gif" />
                                                    </li>
                                                    <div class="portlet-body" ng-show="!isLoading">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <span class="sale-info">
                                                                    Prosjek ocjena
                                                                    <i class="fa fa-img-up"></i>
                                                                </span>
                                                                <span class="sale-num"> {{ucenik.prosjekOcjena | number:'2'}} </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info">
                                                                    Položenih lekcija
                                                                    <i class="fa fa-img-down"></i>
                                                                </span>
                                                                <span class="sale-num"> {{ucenik.napredovanje}} </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info"> Prisustva </span>
                                                                <span class="sale-num"> {{ucenik.prisustvo}} </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-md-4-->
                                        </div>
                                        <!--end row-->
                                        <div class="tabbable-line tabbable-custom-profile">
                                            <ul class="nav nav-tabs" id="homeTabs">
                                                <li ng-click="$event.preventDefault();" ng-class="setActiveTab('tab1', 'aktivnosti')">
                                                    <a  href="#tab_1_11" data-toggle="tab"> Kalendar aktivnosti </a>
                                                </li>
                                                <li ng-click="$event.preventDefault();" ng-class="setActiveTab('tab2', 'aktivnosti')">
                                                    <a href="#tab_1_22" data-toggle="tab"> Lekcije </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1_11">
                                                    <div class="portlet-body">
                                                        <table class="table table-striped table-bordered table-advance table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <i class="fa fa-calendar"></i> Datum
                                                                    </th>
                                                                    <th class="hidden-xs">
                                                                        <i class="fa fa-camera"></i> Događaj
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="item in aktivnosti">
                                                                    <td>
                                                                        {{item.datum | date:'longDate'}}
                                                                    </td>
                                                                    <td class="hidden-xs">
                                                                        {{item.naziv}}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!--tab-pane-->
                                                <div class="tab-pane" id="tab_1_22">
                                                    <div class="tab-pane active" id="tab_1_1_1">
                                                        <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">
                                                            <ul class="feeds">
                                                                <li ng-repeat="lekcija in lekcije">
                                                                    <div class="col1">
                                                                        <div class="cont">
                                                                            <div class="cont-col1">
                                                                                <div class="label label-success">
                                                                                    <i class="fa fa-bell-o"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="cont-col2">
                                                                                <div class="desc">
                                                                                    {{lekcija.naziv}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col2">
                                                                        <div class="date"> {{lekcija.redniBroj}} </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--tab-pane-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--tab_1_2-->
                            <div class="tab-pane" id="tab_1_3">
                                <div class="row profile-account">
                                    <div class="col-md-3">
                                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                                            <li class="active">
                                                <a data-toggle="tab">
                                                    <i class="fa fa-cog"></i> Moji podaci
                                                </a>
                                                <span class="after"> </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="tab-content">
                                            <div id="tab_1-1" class="tab-pane active">
                                                <form novalidate name="newForm" role="form">
                                                    <div class="form-group">
                                                        <label class="control-label">Ime</label>
                                                        <input type="text" placeholder="Ime" class="form-control" name="Ime" ng-model="osoba.ime" required ng-minlength="2"/>
                                                        <div ng-messages="newForm.Ime.$error" ng-if="newForm.Ime.$touched">
                                                            <div class="error-label" ng-message="required">Ime je obavezno polje!</div>
                                                            <div class="error-label" ng-message="minlength">Ime mora sadržavati više od 2 slova!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Prezime</label>
                                                        <input type="text" placeholder="Prezime" class="form-control" name="Prezime" ng-model="osoba.prezime" required ng-minlength="2"/>
                                                        <div ng-messages="newForm.Prezime.$error" ng-if="newForm.Prezime.$touched">
                                                            <div class="error-label" ng-message="required">Prezime je obavezno polje!</div>
                                                            <div class="error-label" ng-message="minlength">Prezime mora sadržavati više od 2 slova!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Kontakt</label>
                                                        <input type="text" placeholder="+387 61 123 987" class="form-control" name="Kontakt" ng-model="osoba.kontakt" required/>
                                                        <div ng-messages="newForm.Kontakt.$error" ng-if="newForm.Kontakt.$touched">
                                                            <div class="error-label" ng-message="required">Kontakt je obavezno polje!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Adresa</label>
                                                        <input type="text" placeholder="Adresa" class="form-control" name="Adresa" ng-model="osoba.adresa" required/>
                                                        <div ng-messages="newForm.Adresa.$error" ng-if="newForm.Adresa.$touched">
                                                            <div class="error-label" ng-message="required">Adresa je obavezno polje!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Email</label>
                                                        <input type="email" placeholder="Email" class="form-control" name="Email" ng-model="osoba.email" required/>
                                                        <div ng-messages="newForm.Email.$error" ng-if="newForm.Email.$touched">
                                                            <div class="error-label" ng-message="required">Email je obavezno polje!</div>
                                                            <div class="error-label" ng-message="email">Niste unijeli validnu email adresu!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Link na profilnu sliku (URL)</label>
                                                        <input type="text" placeholder="http://www.mywebsite.com/myProfilePhoto" class="form-control" name="profile" ng-model="osoba.imageURL" required/>
                                                        <div ng-messages="newForm.profile.$error" ng-if="newForm.profile.$touched">
                                                            <div class="error-label" ng-message="required">Link na profilnu sliku je obavezno polje!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Opis</label>
                                                        <textarea class="form-control" rows="3" placeholder="Kratki opis..." ng-model="osoba.opis"></textarea>
                                                    </div>
                                                    <div class="margiv-top-10">
                                                        <a class="btn green" ng-click="updateUcenik()" ng-disabled="newForm.$invalid"> Snimi </a>
                                                        <a class="btn default"> Odustani </a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-md-9-->
                                </div>
                            </div>
                            <!--end tab-pane-->
                        </div>
                    </div>
                </div>
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- BEGIN FOOTER -->
            <p class="copyright-v2">
                2017 &copy; HC Dev
            </p>
            <!-- END FOOTER -->
        </div>
    </div>
</div>