﻿
<div id="wrapper">
    <div class="container-fluid">
        <div class="page-content page-content-popup">
            <div class="slide-animate" ng-include="'angular_views/navbar.html'"></div>
            <div class="slide-animate" ng-include="'angular_views/sidebar.html'"></div>
            <div class="page-fixed-main-content">
                <!-- BEGIN PAGE BASE CONTENT -->
                
                <div class="col-md-10">
                    <!-- BEGIN CONDENSED TABLE PORTLET-->
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-picture"></i>Položene lekcije i ocjene
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th> Redni broj </th>
                                            <th> Lekcija </th>
                                            <th> Datum </th>
                                            <th> Ocjena </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in lekcije">
                                            <td> {{item.redniBroj}} </td>
                                            <td> {{item.lekcija}} </td>
                                            <td> {{item.datum | date:'longDate'}} </td>
                                            <td> {{item.ocjena}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END CONDENSED TABLE PORTLET-->
                </div>
                
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- BEGIN FOOTER -->
            <p class="copyright-v2">
                2017 &copy; HC Dev
            </p>
            <!-- END FOOTER -->
        </div>
    </div>
</div>
