﻿<div class="page-sidebar-wrapper" ng-controller="sidebarController">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item" ng-class="getClass('/licniPodaci')">
                <a href="/#/licniPodaci" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Lični podaci</span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">Nastava</h3>
            </li>
            <li class="nav-item" ng-class="getClass('/prisustvo')">
                <a href="/#/prisustvo" class="nav-link nav-toggle">
                    <i class="icon-check"></i>
                    <span class="title">Prisustvo na časovima</span>
                </a>
            </li>
            <li class="nav-item" ng-class="getClass('/ocjene')">
                <a href="/#/ocjene" class="nav-link nav-toggle">
                    <i class="icon-star"></i>
                    <span class="title">Ocjene</span>
                </a>
            </li>
            <li class="nav-item" ng-class="getClass('/zadace')">
                <a href="/#/zadace" class="nav-link nav-toggle">
                    <i class="icon-book-open"></i>
                    <span class="title">Zadaće</span>
                </a>
            </li>
            <li class="nav-item" ng-class="getClass('/messenger')">
                <a href="/#/messenger" class="nav-link nav-toggle">
                    <i class="icon-users"></i>
                    <span class="title">Messenger</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>