.poruke-wrapper {
    margin: 20px 0px; 
    padding: 20px 0; 
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.conversation-item {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.chat-item{
    padding: 10px;
    margin-right: 10px;
}

.conversation-item:hover {
    color: dodgerblue;
    background-color: whitesmoke;
}

.chats-div {
    list-style-type: none;
    overflow: hidden;
    height: 400px;
    overflow-y: scroll;
}

.osoba-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.osoba-item:hover {
    background-color: #807e7e;
    color: white;   
}